<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
      <extension id="OPLaView"
        point="org.protege.editor.core.application.WorkspaceTab">
        <label value="OPLaTab" />
        <class value="edu.wright.dase.ui.ViewAsTab" />
        <index value="X" />
        <editorKitId value="OWLEditorKit" />
      </extension>

      <!-- 
       <extension id="example.menu"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Example..."/>
        <class value="template.TemplateMenu"/>
        <toolTip value="A menu plugin to bootstrap the new plugin process"/>
        <path value="org.protege.editor.owl.menu.tools/SlotZ-Z"/>
        <editorKitId value="OWLEditorKit"/>
       </extension>

        <extension id="example.view"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Example"/>
        <class value="template.TemplateView"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
         </extension>
      -->
    
</plugin>
