<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

	<extension id="OPLaTab"
		point="org.protege.editor.core.application.WorkspaceTab">
		<label value="OPLa" />
		<class value="edu.wright.dase.OplaTab" />
		<index value="X" />
		<editorKitId value="OWLEditorKit" />
	</extension>

</plugin>
